<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICategoryService" maxReceivedMessageSize="2000000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/CategoryService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICategoryService" contract="CategoryService.ICategoryService"
                name="BasicHttpBinding_ICategoryService" />
        </client>
    </system.serviceModel>
</configuration>