<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <!--<wsDualHttpBinding>
        <binding name="wsDual" maxReceivedMessageSize="2147483647">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsDualHttpBinding>-->
      <netHttpBinding>
        <binding name="netHttpWithSecurity" maxReceivedMessageSize="2147483647">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="net1" maxReceivedMessageSize="2147483647">
        </binding>
        <binding name="StreamBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" messageEncoding="Binary" />
      </netHttpBinding>
      <netTcpBinding>
        <binding name="netTcp" maxReceivedMessageSize="2147483647" />
        <binding name="netTcpSecurity" maxReceivedMessageSize="2147483647">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="StreamBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" />
        <binding name="StreamBindingWithSecurity" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <!--Orders-->
      <service behaviorConfiguration="BehaviorWithSecurity" name="NorthwindServiceLibrary.Services.OrderService">
        <endpoint binding="netHttpBinding" bindingConfiguration="netHttpWithSecurity" contract="NorthwindService.Contracts.ServiceContracts.IOrderService" />
        <endpoint binding="netTcpBinding" bindingConfiguration="netTcpSecurity" contract="NorthwindService.Contracts.ServiceContracts.IOrderService" />
        <endpoint binding="mexHttpsBinding" contract="IMetadataExchange" address="mex"/>
        <endpoint binding="mexTcpBinding" contract="IMetadataExchange" address="mex"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:809/northwindwindowsservice/orders" />
            <add baseAddress="https://localhost:810/northwindwindowsservice/orders" />
            <add baseAddress="net.tcp://localhost:13579/northwindwindowsservice/orders" />
          </baseAddresses>
        </host>
      </service>
      <!--Products-->
      <service behaviorConfiguration="BehaviorWithoutSecurity" name="NorthwindServiceLibrary.Services.ProductService">
        <endpoint binding="netHttpBinding" bindingConfiguration="net1" contract="NorthwindService.Contracts.ServiceContracts.IProductService" />
        <endpoint binding="netTcpBinding" bindingConfiguration="netTcp" contract="NorthwindService.Contracts.ServiceContracts.IProductService" />
        <endpoint binding="mexHttpBinding" contract="IMetadataExchange" address="mex"/>
        <endpoint binding="mexTcpBinding" contract="IMetadataExchange" address="mex"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:809/northwindwindowsservice/products" />
            <add baseAddress="net.tcp://localhost:13579/northwindwindowsservice/products" />
          </baseAddresses>
        </host>
      </service>
      <!--Categories-->
      <service behaviorConfiguration="BehaviorWithSecurity" name="NorthwindServiceLibrary.Services.CategoryService">
        <endpoint binding="netHttpBinding" bindingConfiguration="StreamBinding" contract="NorthwindService.Contracts.ServiceContracts.ICategoryService" />
        <endpoint binding="netTcpBinding" bindingConfiguration="StreamBindingWithSecurity" address="categories" contract="NorthwindService.Contracts.ServiceContracts.ICategoryService" />
        <endpoint binding="mexHttpBinding" contract="IMetadataExchange" address="mex"/>
        <endpoint binding="mexTcpBinding" contract="IMetadataExchange" address="mex"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:809/northwindwindowsservice/categories" />
            <add baseAddress="https://localhost:810/northwindwindowsservice/categories" />
            <add baseAddress="net.tcp://localhost:13579/northwindwindowsservice/categories" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BehaviorWithSecurity">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceCredentials>
            <serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"
                                findValue="F66021BBB68F543CF0FB56F01BA1A15AAE10E85A"/>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="NorthwindServiceLibrary.Security.NorthwindPasswordValidator, NorthwindServiceLibrary"/>
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="NorthwindServiceLibrary.Security.NorthwindAuthorizationPolicy, NorthwindServiceLibrary"/>
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
        <behavior name="BehaviorWithoutSecurity">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="Northwind" connectionString="data source=.;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>