<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INorthwindService" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/NorthwindService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_INorthwindService"
                contract="NorthwindService.INorthwindService" name="BasicHttpBinding_INorthwindService" />
        </client>
    </system.serviceModel>
</configuration>