<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings />
      <client>
          <endpoint name="orderHttp" binding="netHttpBinding" address="http://localhost:802/service/Orders.svc" contract="NorthwindService.Contracts.ServiceContracts.IOrderService"/>
      </client>
    </system.serviceModel>
</configuration>