<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
          <wsDualHttpBinding>
            <binding name="httpIisSecurity" maxReceivedMessageSize="2147483647">
              <security mode="Message">
                <message clientCredentialType="UserName"/>
              </security>
            </binding>
          </wsDualHttpBinding>
          <netHttpBinding>
              <binding name="httpSecurity" maxReceivedMessageSize="2147483647">
                <security mode="TransportWithMessageCredential">
                  <message clientCredentialType="UserName" />
                </security>
              </binding>
            <binding name="http" maxReceivedMessageSize="2147483647"/>
          </netHttpBinding>
          <netTcpBinding>
            <binding name="tcp" maxReceivedMessageSize="2147483647"/>
            <binding name="tcpSecurity" maxReceivedMessageSize="2147483647">
              <security mode="TransportWithMessageCredential">
                <message clientCredentialType="UserName"/>
              </security>
            </binding>
          </netTcpBinding>
        </bindings>
      <behaviors>
        <endpointBehaviors>
          <behavior>
            <clientCredentials>
              <serviceCertificate>
                <authentication certificateValidationMode="None" />
              </serviceCertificate>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
        <client>
          <endpoint name="ordersHttps" binding="netHttpBinding" address="https://localhost:810/northwindwindowsservice/orders" bindingConfiguration="httpSecurity" contract="NorthwindService.Contracts.ServiceContracts.IOrderService"/>
          <endpoint name="ordersHttpIis" binding="wsDualHttpBinding" address="http://localhost:802/service/Orders.svc" bindingConfiguration="httpIisSecurity" contract="NorthwindService.Contracts.ServiceContracts.IOrderService"/>
          <endpoint name="ordersNetHttpIis" binding="netHttpBinding" address="https://localhost:803/service/Orders.svc" bindingConfiguration="httpSecurity" contract="NorthwindService.Contracts.ServiceContracts.IOrderService"/>
          
          <endpoint name="ordersTcp" binding="netTcpBinding" address="net.tcp://localhost:13579/northwindwindowsservice/orders" bindingConfiguration="tcpSecurity" contract="NorthwindService.Contracts.ServiceContracts.IOrderService"/>
          <endpoint name="ordersTcpIis" binding="netTcpBinding" address="net.tcp://localhost:12345/service/Orders.svc" bindingConfiguration="tcpSecurity" contract="NorthwindService.Contracts.ServiceContracts.IOrderService"/>
          
          <endpoint name="prodHttp" binding="netHttpBinding" address="http://localhost:809/northwindwindowsservice/products" bindingConfiguration="http" contract="NorthwindService.Contracts.ServiceContracts.IProductService"/>
          <endpoint name="prodHttpIis" binding="wsDualHttpBinding" address="http://localhost:802/service/products.svc" bindingConfiguration="httpIisSecurity" contract="NorthwindService.Contracts.ServiceContracts.IProductService"/>
          <endpoint name="prodNetHttpIis" binding="netHttpBinding" address="https://localhost:803/service/products.svc" bindingConfiguration="httpSecurity" contract="NorthwindService.Contracts.ServiceContracts.IProductService"/>
        </client>
    </system.serviceModel>
</configuration>