<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netHttpBinding>
                <binding name="http" maxReceivedMessageSize="2147483647"/>
            </netHttpBinding>
          <netTcpBinding>
            <binding name="tcp" maxReceivedMessageSize="2147483647"/>
          </netTcpBinding>
        </bindings>
        <client>
          <endpoint name="ordersHttp" binding="netHttpBinding" address="http://localhost:802/service/Orders.svc" bindingConfiguration="http" contract="NorthwindService.Contracts.ServiceContracts.IOrderService"/>
          <endpoint name="prodHttp" binding="netHttpBinding" address="http://localhost:802/service/Products.svc" bindingConfiguration="http" contract="NorthwindService.Contracts.ServiceContracts.IProductService"/>
        </client>
    </system.serviceModel>
</configuration>