<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netHttpBinding>
                <binding name="http" maxReceivedMessageSize="2000000000" transferMode="Streamed" />
            </netHttpBinding>
          <netTcpBinding>
                <binding name="tcp" maxReceivedMessageSize="2000000000" transferMode="Streamed" />
            </netTcpBinding>
        </bindings>
        <client>
          <endpoint name="tcp" binding="netTcpBinding" address="net.tcp://localhost:12345/service/Categories.svc" contract="NorthwindService.Contracts.ServiceContracts.ICategoryService"/>
          <endpoint name="http" binding="netHttpBinding" address="http://localhost:802/service/Categories.svc" bindingConfiguration="http" contract="NorthwindService.Contracts.ServiceContracts.ICategoryService"/>
        </client>
    </system.serviceModel>
</configuration>